<!DOCTYPE html>
<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <div id="buttonDiv">
    </div>
    <section>
			<table width="100%" style="font-size: 1em;">
				<tbody>
					<tr>
						<td>Gilab instance URL</td>
						<td><input style="width: 100%" type="text" id="url" /></td>
					</tr>
					<tr>
						<td>Personal API token</td>
						<td><input style="width: 100%" type="text" id="token" /></td>
					</tr>
					<tr>
						<td>Max issue weight</td>
						<td><input style="width: 100%" type="number" id="weight" /></td>
					</tr>
				</tbody>
			</table>
		</section>

		<hr />

    <button id="save">Save</button>
    <span id="status"></span>
  </body>
  <script src="/scripts/options.js"></script>
</html>
